In [3]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans

In [9]:
df = pd.DataFrame(columns=('x', '장르'))

In [12]:
df.loc[0] = [7,'action']
df.loc[1] = [2,'action']
df.loc[2] = [4,'comedy']
df.loc[3] = [9,'comedy']
df.loc[4] = [10,'sf']

In [13]:
df.head(5)

    x      장르
0   7  action
1   2  action
2   4  comedy
3   9  comedy
4  10      sf